.container{
	background-color: #cccccc;
	height: 100%;
	background-size: cover;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.player_two{
	background-color: white;
	padding: 10px;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	width: 350px;
}

.heading{
	text-align: center;
	font-family: Arial;
	font-size: 20px;
}

.heading2{
	text-align: center;
	font-family: Arial;
	font-size: 10px;
}

.div{
	background-color: rgb(204, 204, 204);
}

.player_one{
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	width: 100%;
}


.link{
	text-decoration: none;
	color: black;
}
